@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');



.grid {
    display: grid;
    grid-template-columns:  1fr 1fr 1fr 1fr;
    grid-column-gap: 10px;
}
.column-one{
    border: solid 2px black;
}
.column-two{
    border: solid 2px black;
}
.columm-three{
    border: solid 2px black;
}
.top {
    color: white;
}
h3{
    text-align: center
}
body {
    margin: 0px;
    padding: 0px;
}
body {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/roboto/v30/KFOmCnqEu92Fr1Mu72xKOzY.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
header {
    background-color: orangered;
}
nav{
    border-bottom: 1px solid black;
    padding: 16px;
}
nav.top{
    color:white
}
tbody {
    border: solid 1px black
}
a:hover {
    color: green;
}

a, u {
    text-decoration: none;
}
.items{
    display: inline;
    line-height: 2;
    border: solid 2px black;
    box-shadow: 3px 4px 2px deepskyblue;
}
ol{
    display: inline-block
    margin-right: auto;
}
.shadows{
    border: solid 2px black;
    box-shadow: 3px 4px 2px fuchsia;
}
main{
    padding: 16px;
}
tr:nth-child(even) {
    background-color: lightgrey;
}
h1.Scrum{
    color: teal;

}
img {
    display: block;
    width: 200px;
    height: 200px;
    margin: auto;
        }
footer {
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 0px;
    padding-right: 0px;
    background-color: turquoise;
}
th {
    padding-right: 8px;
}
